# IDE files and folders
.idea
.vscode
*.iml

# environment configurations
*.env

# docker environment files
docker/*.env

# external project files
*.txt
*.bat
*.sh
LICENSE

# compiled files and executables
target/
out/
